<%- include('../header', {title: "Vos réservations", style: "user/reservation", session}) %>

<% if(fatal) { %>
    <div class="error_message"><%=fatal%></div>
<% } else { %>
    <% if(message) { %>
        <div class="error_message"><%=message%></div>
    <% } %>
    <% for(let reservation of reservations) { %>
        <div class="listElement"><%=JSON.stringify(reservation)%></div>
    <% } %>
<% } %>

<%- include('../footer') %>