<%- include('../../header', {title: "Supprimer un tutorat", style: "tutorat/detail", session}) %>
<h1>Suppression du tutorat</h1>
<% if(fatal) { %>
    <div class="error_message"><%=fatal%></div>
<% } else if (tutorats.length === 0){ %>
    <div class="error_message">
        <p>Le tutorat demandé n'existe pas ou n'est plus disponible</p>
        <p>Si vous tentez de supprimer le tutorat 1 heure avant et qu'il est déjà réservé par quelqu'un, vous ne pouvez pas le supprimer</p>
        <p>De même si sa date est déjà dépassé</p>
    </div>
<%} else { 
        const tutorat = tutorats[0] 
        let startdate = new Date(tutorat.startdate)
        
        let hoursDuration = Math.floor(tutorat.duration / 60)
        let minuteDuration = tutorat.duration - hoursDuration * 60
%>
    <p>Êtes-vous sur de vouloir supprimer le tutorat pour toujours ? (Très long !)</p>

    <h2>Le tutorat que vous allez supprimer:</h2>

    <div id="detail">
        <h1>Tutorat <%=tutorat.tags%></h1>
        <h3>Proposé par <%=tutorat.nom%><small>&lt<%=tutorat.email%>&gt</small></h3>
        <p><%=tutorat.description%></p>
        <p><h4 style="display: inline;">Horaire :</h4> <%=startdate.toLocaleString("fr-FR", {timeZone: "Europe/Paris", day: "2-digit", month: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit" });%>
        <p><h4 style="display: inline;">Durée :</h4> <%=hoursDuration%>h<%=("0" + minuteDuration).slice(-2)%></p>
        <p><h4 style="display: inline;">Prix :</h4> <%=tutorat.price%>€</p>
        <p><h4 style="display: inline;">Lieu :</h4> <%=tutorat.place%></p>
    </div>
    <ul id="button">
        <a href="/user/tutorat/confirm/delete/<%=tutorat.id%>"><li style="background-color: red;color:white;">Supprimer</li></a>
    </ul>
<% } %> 



<%- include('../../footer', {script: "index"}) %>