<%- include('../../header', {title: "Vos tutorats", style: "search"}) %>


<h1>Vos tutorats</h1>

<% for (tutorat of resultList)
{
        let startdate = new Date(tutorat.startdate) 
        let hoursDuration = Math.floor(tutorat.duration / 60)
        let minuteDuration = tutorat.duration - hoursDuration * 60
%>
        <div id="grid2">
            <div id="nom">
                <h2>Tutorat <%=tutorat.content%></h2>
                <h3><p>Proposé par <%=tutorat.prenom%></p></h3>
                <h3><p><%=tutorat.place%></p></h3>
            </div>
        
            <div>
                <h2>Description :</h2>
                <p class="description"><%=tutorat.description%></p>
            
                <h2>Horaires :</h2>
                <p class="description">Le <%=("0" + startdate.getDay()).slice(-2)%>-<%=("0" + startdate.getMonth()).slice(-2)%>-<%=startdate.getFullYear()%> à <%=("0" + startdate.getHours()).slice(-2)%>h<%=("0" + startdate.getMinutes()).slice(-2)%>
                    pour une durée de <%=hoursDuration%>h<%=("0" + minuteDuration).slice(-2)%> au prix de <%=tutorat.price%>€</p>
            </div>
			
			<div class="jesaispas">
                <ul>
					<a class="view" href="/tutorat/<%=tutorat.id%>">Détails</a>
					<a class="delete" href="./delete/<%=tutorat.id%>">Supprimer</a>
					<a class="modify" href="./modify/<%=tutorat.id%>">Modifier</a>
                </ul>
            </div>
			
		</div>
<% } %>
