<%- include('../../header', {title: "Vos tutorats", style: "user/tutorat/list"}) %>

<div class="tutorat">
    <h1>Vos tutorats</h1>
</div>

<ul id="nouveau_tutorat">
    <a href="/user/tutorat/create"><li>Nouveau Tutorat</li></a>
</ul>
<% if(message) {%>
<%=message%>
<% } %>

<div class="tutorat_enregistre">
    <h2>Vos Tutorats enregistrés :</h1>

    <ul class="formu">
        <li>
            <select name="trier" id="trier-select">
                <option value="" disabled selected>Trier</option>
                <option value="description">Description</option>
            </select>
        </li>
    </ul>
</div>

<% for (tutorat of resultList)
{
        let startdate = new Date(tutorat.startdate) 
        let hoursDuration = Math.floor(tutorat.duration / 60)
        let minuteDuration = tutorat.duration - hoursDuration * 60
%>
        <div class="listElement">
            <div class="tutorat_infos">
                <h2>Tutorat <%=tutorat.content%></h2>
                <h3><p>Proposé par <%=tutorat.nom%></p></h3>
                <h3><p><%=tutorat.place%></p></h3>
            </div>
        
            <div>
                <h2>Description :</h2>
                <p class="description"><%=tutorat.description%></p>
            
                <h2>Horaires :</h2>
                <p class="description">Le <%=startdate.toLocaleString("fr-FR", {timeZone: "Europe/Paris", day: "2-digit", month: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit" });%> à <%=("0" + startdate.getHours()).slice(-2)%>h<%=("0" + startdate.getMinutes()).slice(-2)%>
                    pour une durée de <%=hoursDuration%>h<%=("0" + minuteDuration).slice(-2)%> au prix de <%=tutorat.price%>€</p>
            </div>
			<div class="modif_tutorat">
                <ul>
					<li><a class="view" href="/tutorat/<%=tutorat.id%>">Détails</a></li>
					<li><a class="delete" href="./delete/<%=tutorat.id%>">Supprimer</a></li>
					<li><a class="modify" href="./modify/<%=tutorat.id%>">Modifier</a></li>
                </ul>
            </div>
			
		</div>
<% } %>
