<% let title
if(tutorat === null) {
    title = "Aucun tutorat trouvé"
} else {
    title = "Modifier votre tutorat"
} %>
<%- include('../../header', {title: title, style: "user/tutorat/create", session}) %>

<h1>Modifiez votre tutorat</h1>
<% if (fatal) { %>
 <div class="error_message"><%= fatal %></div>
<% } else {
    if(tutorat === null) { %>
        <div class="error_message">
            <p>Le tutorat demandé n'existe pas ou n'est plus disponible</p>
            <p>Si vous tentez de modifier le tutorat alors que sa date est déjà dépassé, vous ne pouvez pas le modifier</p>
        </div>
    <% } else {
        let startdate = tutorat.startdateformat
%>
        <div id="content">
            <form method="post" id="create-tutorat-grid">
                <p><label for="tags">Catégorie de votre tutorat :</label></p>
                <p><select name="tags" id="tags">
                <% for(tag of tags) { %>
                    <option value="<%=tag.id%>" <% if(tutorat.tags_id==tag.id) { %>selected<% } %>><%=tag.content%></option>
                <% } %>
                </select></p>
                <p><label for="description">Description : </label></p>
                <p><textarea id="description" name="description" required><%=tutorat.description%></textarea></p>

                <p><label for="datetime">Date et horaire de votre tutorat :</label></p>
                <p><input type="datetime-local" name="datetime" id="datetime" value="<%=startdate%>" min="<%=startdateMin%>" required></p>
        
                <p><label for="duration">Durée du tutorat :</label></p>
                <p><input type="time" name="duration" id="duration" min="00:30" max="10:00" value="<%=hoursDuration + ":" + minuteDuration%>" required></p>

                <p><label for="price">Prix du tutorat :</label></p>
                <p><input type="number" min="1" step="0.5" name="price" id="price" value="<%=tutorat.price%>" required></p>
        
                <p><label for="place">Lieu du tutorat :</label></p>
                <p><input type="text" name="place" id="place" value="<%=tutorat.place%>" required></p>
                <p><button type="submit">Valider</button></p>
            </form>
        </div>
    <% }
    
} %>

<%- include('../../footer') %>