<%
let title = "" 
if(tutorats.length === 0 ) {
    title = "Aucun tutorat disponible à cette adresse"
} else {
    title = tutorats[0].tags + " par " + tutorats[0].nickname
}%>
<%- include('../header', {title: title, style: "tutorat/detail"}) %>
<% if(fatal) { %>
    <div class="error_message"><%=fatal%></div>
<% } else { 
    const tutorat = tutorats[0]
    %>
    <div id="detail">
    <h1>Tutorat <%=tutorat.tags%></h1>
    <h3>Proposé par <%=tutorat.nickname%><small>&lt<%=tutorat.email%>&gt</small></h3>
    <p><%=tutorat.description%></p>
    <p><h4 style="display: inline;">Horaire :</h4> <%=tutorat.startdate%></p>
    <p><h4 style="display: inline;">Durée :</h4> <%=tutorat.duration%></p>
    <p><h4 style="display: inline;">Prix :</h4> <%=tutorat.price%></p>
    <p><h4 style="display: inline;">Lieu :</h4> <%=tutorat.place%></p>
    
    <% if(session.id === tutorat.proposed_by) { %>
        <ul id="button">
            <li>Modifier</li>
            <li>Supprimer</li>
        </ul>
    <% } else { %>
        <ul id="button">
            <li>Je réserve</li>
        </ul>
    <% } %>
    </div>

<% } %>
<%- include('../footer') %>