<%
let title = "" 
if(tutorats.length === 0 ) {
    title = "Aucun tutorat disponible à cette adresse"
} else {
    title = tutorats[0].tags + " par " + tutorats[0].nom
}%>
<%- include('../header', {title: title, style: "tutorat/detail"}) %>
<% if(fatal) { %>
    <div class="error_message"><%=fatal%></div>
<% } else if(tutorats.length === 0 ) { %>
    <div class="error_message">Le tutorat demandé n'est pas ou plus disponible</div>
<% } else {
    const tutorat = tutorats[0]
    let startdate = new Date(tutorat.startdate) 
    let hoursDuration = Math.floor(tutorat.duration / 60)
    let minuteDuration = tutorat.duration - hoursDuration * 60
    %>
    <div id="detail">
    <h1>Tutorat <%=tutorat.tags%></h1>
    <h3>Proposé par <%=tutorat.nom%><small>&lt<%=tutorat.email%>&gt</small></h3>
    <p><%=tutorat.description%></p>
    <p><h4 style="display: inline;">Horaire :</h4> <%=startdate.toLocaleString("fr-FR", {timeZone: "Europe/Paris", day: "2-digit", month: "2-digit", year: "numeric", hour: "2-digit", minute: "2-digit" });%></p>
    <p><h4 style="display: inline;">Durée :</h4>  <%=hoursDuration%>h<%=("0" + minuteDuration).slice(-2)%></p>
    <p><h4 style="display: inline;">Prix :</h4> <%=tutorat.price%>€</p>
    <p><h4 style="display: inline;">Lieu :</h4> <%=tutorat.place%></p>
    <p><iframe src="https://maps.google.com/maps?q=<%=tutorat.geolocation%>&z=15&output=embed" loading="lazy"></iframe></p>
    
    <% if(session.id === tutorat.proposed_by) { %>
        <ul id="button">
            <a href="/user/tutorat/modify/<%=tutorat.id%>"><li>Modifier</li></a>
            <a href="/user/tutorat/delete/<%=tutorat.id%>"><li>Supprimer</li></a>
        </ul>
    <% } else { %>
        <ul id="button">
            <a href="/tutorat/<%=tutorat.id%>/book"><li>Je réserve</li></a>
        </ul>
    <% } %>
    </div>

<% } %>
<%- include('../footer') %>