<%- include('../header', {title: "Laisser un avis", style: "review"}) %>

<div class="tutorat">
    <h1>Laisser un avis...</h1>
</div>

<% if (fatal) { %>
 <div class="error_message"><%=fatal%></div>
<% } else { %>

		 <ul id="button">
            <a href="/tutorat/<%=tutoratId%>/review/pos"><li>Positif</li></a>
        </ul>
		
		 <ul id="button">
            <a href="/tutorat/<%=tutoratId%>/review/neg"><li>Négatif</li></a>
			
        </ul>
		


<% } %>
<script src="/static/scripts/review.js"></script>
<%- include('../footer')%>