<%- include('header', {title: "Page de recherche", style: "search"}) %>

<div class="tutorat">
    <h1>Tutorat(s) proposés</h1>
</div>

<ul id="formu">
    <li>
        <select name="categorie" id="categorie-select">
            <option value="0">Catégorie</option>
            <% for(tag of tags) { %>
                <option value="<%=tag.id%>" <% if(!Number.isNaN(selectedCategorie) && selectedCategorie === tags.id) %>><%=tag.content%></option>
            <% } %>
        </select>
    </li>
    <li>
        <select name="horaires" id="horaires-select">
            <option value="" disabled selected>Horaires</option>
            <option value="langue">15h-16h</option>
        </select>
    </li>
    <li>
        <select name="adresses" id="adresses-select">
            <option value="" disabled selected>Adresses</option>
            <option value="langue">oui</option>
        </select>
    </li>
    <li>
        <select name="ordre" id="ordre-select">
            <option value="" disabled selected>Ordre</option>
            <option value="prix">Prix</option>
            <option value="proximité">Proximité</option>
            <option value="durée">Durée</option>
        </select>
    </li>
</ul>


<% if (fatal) { %>
 <div class="error_message"><%=fatal%></div>
<% } else { %>
    <% for(tutorat of tutorats) {
        let startdate = new Date(tutorat.startdate) 
        let hoursDuration = Math.floor(tutorat.duration / 60)
        let minuteDuration = tutorat.duration - hoursDuration * 60
        %>

        <div id="grid2">
            <div>
                <h2>Tutorat <%=tutorat.tags%></h2>
                <h3><p>Proposé par <%=tutorat.nickname%></p></h3>
                <h3><p><%=tutorat.email%></p></h3>
            </div>
        
            <div>
                <h2>Description :</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula in rutrum. Morbi nec lacus condimentum, hendrerit mi eu, feugiat.</p>
            
                <h2>Horaires :</h2>
                <p class="description">Le <%=("0" + startdate.getDay()).slice(-2)%>-<%=("0" + startdate.getMonth()).slice(-2)%>-<%=startdate.getFullYear()%> à <%=("0" + startdate.getHours()).slice(-2)%>h<%=("0" + startdate.getMinutes()).slice(-2)%>
                    pour une durée de <%=hoursDuration%>h<%=("0" + minuteDuration).slice(-2)%> au prix de <%=tutorat.price%>€</p>
            </div>
        
            <div class="jesaispas">
                <ul>
                    <li id="inscris">Je m'inscris</li>
                </ul>
            </div>
        
        </div>
    <% } %>
<% } %>
<script src="/static/scripts/search.js"></script>
<%- include('footer')%>
