<%- include('header', {title: "Page de recherche", style: "search"}) %>

<div class="tutorat">
    <h1>Tutorat(s) proposés</h1>
</div>

<% if (fatal) { %>
 <%=fatal%>
<% } else { %>
    <% for(tutorat of tutorats) {
        let startdate = new Date(tutorat.startdate) 
        let hoursDuration = Math.floor(tutorat.duration / 60)
        let minuteDuration = tutorat.duration - hoursDuration * 60
        %>
        <div id="grid2">
            <div>
                <h2>Tutorat <%=tutorat.tags%></h2>
                <h3><p>Proposé par <%=tutorat.nickname%></p></h3>
                <h3><p><%=tutorat.email%></p></h3>
            </div>
        
            <div>
                <h2>Description :</h2>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt congue ligula in rutrum. Morbi nec lacus condimentum, hendrerit mi eu, feugiat.</p>
            
                <h2>Horaires :</h2>
                <p class="description">Le <%=("0" + startdate.getDay()).slice(-2)%>-<%=("0" + startdate.getMonth()).slice(-2)%>-<%=startdate.getFullYear()%> à <%=("0" + startdate.getHours()).slice(-2)%>h<%=("0" + startdate.getMinutes()).slice(-2)%>
                    pour une durée de <%=hoursDuration%>h<%=("0" + minuteDuration).slice(-2)%> au prix de <%=tutorat.price%>€</p>
            </div>
        
            <div>
                <ul>
                    <li id="inscris">Je m'inscris</li>
                </ul>
            </div>
        
        </div>
    <% } %>
<% } %>
<%- include('footer')%>
